* {
  box-sizing: border-box; }

body {
  background: #D3C5F0;
  color: white;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center; }

h2 {
  font-size: 2em;
  margin: 10px 0; }

h3 {
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase; }

h4 {
  margin: 0;
  font-size: 1.3em; }

p {
  margin: 0; }

header {
  background-color: #9370DB;
  padding-top: 10px; }

.logo-tm {
  font-size: 1em;
  font-weight: normal; }

.bell-profile-list {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .bell-profile-list li {
    padding: 0px 25px; }
    .bell-profile-list li:first-child {
      border-right: 1px solid white; }

.bell-icon,
.profile-icon {
  width: 50px;
  height: 50px; }

.profile-icon {
  border-radius: 50%; }

.my-name {
  display: none; }

nav {
  background-color: #49386D; }

nav li img {
  width: 40px;
  height: 40px; }

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0px; }

nav li {
  padding: 10px 20px; }

.wrapper {
  margin: 0 10px;
  color: #666666; }
  @media (min-width: 768px) {
    .wrapper {
      margin: 0px; } }

@media (min-width: 768px) {
  .chart-traffic,
  .social-stats,
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    padding: 0 10px; } }

@media (min-width: 768px) {
  .chart-bar,
  .chart-pie {
    padding: 0 10px; } }

@media (min-width: 1024px) {
  .members-flex,
  .input-flex {
    display: flex; } }

@media (min-width: 1024px) {
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    width: 50%; } }

@media (min-width: 1024px) {
  .new-members,
  .message-user {
    padding-right: 10px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid;
    border-right: 1px solid grey; } }

@media (min-width: 1024px) {
  .recent-activity,
  .settings {
    padding-left: 10px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey; } }

.message-user,
.settings {
  border-top: none; }

.dashboard {
  text-align: center; }

.searchInput input[type="text"] {
  width: 80%;
  height: 35px;
  max-width: 500px;
  margin-bottom: 20px; }

.alert {
  display: inline-block;
  color: white;
  max-width: 92%;
  padding: 8px;
  background-color: #9370DB;
  border: 1px solid #49386D;
  border-radius: 5px; }

@media (min-width: 768px) {
  .flex-chart-settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px; } }

.chart-traffic h3 {
  text-align: center; }

.chart-settings {
  display: flex;
  justify-content: center; }
  .chart-settings li {
    padding: 2px 5px;
    margin: 0 5px; }

.hourlyLineChart,
.dailyLineChart,
.monthlyLineChart {
  display: none; }

@media (min-width: 768px) {
  .chart-flex {
    margin-top: 20px;
    display: flex; } }

@media (min-width: 768px) {
  .chart-bar {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey; } }

@media (min-width: 768px) {
  .chart-pie {
    padding-left: 10px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 50%; } }

.social-icon svg {
  width: 30px;
  height: 30px;
  fill: #fff; }

.social-icon {
  display: inline-block;
  padding: 10px;
  margin: 10px 15px;
  background-color: #9370DB;
  border-radius: 50%; }
  .social-icon-stats {
    display: inline-block; }
    .social-icon-stats p {
      margin: 0;
      font-size: 1.1em; }

.social-stats li {
  display: flex;
  align-items: center;
  background-color: #E4DCF6;
  border: 1px solid #49386D;
  margin-bottom: 10px; }
  @media (min-width: 1024px) {
    .social-stats li {
      width: 32%; } }

@media (min-width: 1024px) {
  .social-stats-list {
    display: flex;
    justify-content: space-between; } }

.new-members-info {
  display: inline-block;
  margin-left: 5px; }
  .new-members-info p {
    font-size: 13px; }

.new-members h4 {
  font-size: 16px; }

.new-members-date {
  display: none;
  font-size: 12px;
  margin-left: auto; }
  @media (min-width: 1024px) {
    .new-members-date {
      display: block; } }

.new-members li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid grey; }
  .new-members li:first-child {
    padding-top: 0; }

.recent-activity h4 {
  font-size: 14px; }
.recent-activity a {
  color: #9370DB;
  font-weight: bold;
  margin-left: auto;
  padding: 5px; }
.recent-activity p {
  font-size: 13px;
  color: slategrey; }
.recent-activity li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid grey; }
  .recent-activity li:first-child {
    padding-top: 0; }
.recent-activity-info {
  display: inline-block;
  margin-left: 5px; }

.message-user-input input[type="text"] {
  width: 100%;
  height: 35px;
  margin: auto; }

textarea {
  width: 100%;
  margin: 15px 0px;
  height: 120px; }

button {
  font-size: 18px;
  height: 40px;
  background-color: #9370DB;
  border: 1px solid #49386D;
  color: white;
  width: 100%;
  border-radius: 6px; }

select {
  width: 100%;
  height: 35px;
  margin-bottom: 20px; }

.settings button {
  margin-bottom: 15px; }
  .settings button:last-child {
    margin-bottom: 40px;
    background-color: grey; }

@media (min-width: 768px) {
  .flex-button {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 768px) {
  .flex-button button {
    width: 47.5%; } }

/*# sourceMappingURL=application.css.map */
