// =========================================
//  Variables
// =========================================


// ==== Colors ====

$color-primary    : #D3C5F0;
$color-secondary  : #9370DB;

$grey             : grey;
$grey-slate       : slategrey;
$white            : white;
$purple-dark      : #49386D;
$grey-dove        : #666666;
$white-moon       : #E4DCF6;

// ==== Fonts ====

$font-stack-primary : 'Open Sans', sans-serif;

// ==== Media Breakpoints ====
