// =========================================
//  Base-styles
// =========================================

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack-primary;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
