// =========================================
// Dashboard
// =========================================

.dashboard {
  text-align: center;
}

.searchInput input[type="text"] {
  width: 80%;
  height: 35px;
  max-width: 500px;
  margin-bottom: 20px;
}

.alert {
  display: inline-block;
  color: $white;
  max-width: 92%;
  padding: 8px;
  background-color: $color-secondary;
  border: 1px solid $purple-dark;
  border-radius: 5px;
}
