// =========================================
// Line Chart
// =========================================
.flex-chart-settings {
  @media #{$brk-m} {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.chart-traffic h3 {
  text-align: center;
}

.chart-settings {
  display: flex;
  justify-content: center;
  li {
    padding: 2px 5px;
    margin: 0 5px
  }
}

.hourlyLineChart,
.dailyLineChart,
.monthlyLineChart {
  display: none;
}
