// =========================================
// New Members
// =========================================

.new-members-info {
  display: inline-block;
  margin-left: 5px;
  p {
    font-size: 13px;
  }
}

.new-members h4 {
  font-size: 16px;
}

.new-members-date {
  display: none;
  font-size: 12px; // display at 720px & up
  margin-left: auto;
  @media #{$brk-l} {
    display: block;
  }
}

.new-members li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid $grey;
  &:first-child {
    padding-top: 0;
  }
}
